<div class="header">
    <h1>Work Vista</h1>
</div>
<div class="container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Full Name" [(ngModel)]="fullName" name="fullName" required>
        <input type="email" placeholder="Email ID" [(ngModel)]="email" name="email" required>
        <select [(ngModel)]="role" name="role" required>
            <option value="" disabled selected>Select Role</option>
            <option value="Job Seeker">Job Seeker</option>
            <option value="Recruiter">Recruiter</option>
        </select>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        <button type="submit">Register</button>
    </form>
    <p class="login">
        Already have an account? <a (click)="navigateToLogin()">Login</a>
    </p>
</div>